# Variables

In [ ]:
a=1
b=1
c=1
a+b+c

In [ ]:
1a=1

In [ ]:
a 1=1

In [ ]:
a_1=1

In [ ]:
_a1=1

In [ ]:
__a=1

In [ ]:
a@gmail.com=1

In [ ]:
if=2

In [ ]:
type=1

In [ ]:
type

In [1]:
a=1
type(a)

int

In [2]:
count=100
kilometers=1000.0
name='Rahul'

In [3]:
print(count,kilometers,name)

100 1000.0 Rahul

In [4]:
a,b,c=1,2,"Priyanshi"
print(a,b,c)

1 2 Priyanshi

In [1]:
a=b=c=1
print(a,b,c)

1 1 1

In [2]:
print(id(a))
print(id(b))
print(id(c))

140736349180736
140736349180736
140736349180736

In [3]:
a=1
b=1
b=1
print(id(a))
print(id(b))
print(id(c))

140736349180736
140736349180736
140736349180736

In [4]:
a

1

In [5]:
del a

In [6]:
a

NameError: name 'a' is not defined

In [7]:
b=3.13j
type(b)

complex

In [9]:
str1="Python is a pogramming language"
print(str1)

Python is a pogramming language

In [10]:
a=1
a*2

2

In [11]:
print(str1*2)

Python is a pogramming languagePython is a pogramming language

In [12]:
str2="HI"
print(str1+str2)

Python is a pogramming languageHI

In [1]:
a=1
id(a)

140735551345472

a=2
id(a)

# String

In [9]:
str1="Python is a programming language"
print(str1[0])

P

In [13]:
print(str1[12:23])

programming

In [14]:
str1.split()

['Python', 'is', 'a', 'programming', 'language']

In [17]:
#String formatting
str1="{1} {0} {2}".format("I","am","good")
str1

'am I good'

In [18]:
str1="{a} {e} {c}".format(a="Python", e="Programming", c="Language")
str1

'Python Programming Language'

In [22]:
str1.capitalize()

'Python programming language'

# List

In [35]:
L=[1,2,3,"abes",12.5]
L[3][2]

'e'

In [36]:
L[0:3]

[1, 2, 3]

In [28]:
ks=[1,2,3]
ks+ks

[1, 2, 3, 1, 2, 3]

In [31]:
ls=[7,8,9]
ks+ls

[1, 2, 3, 7, 8, 9]

In [32]:
ks*5

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [37]:
L

[1, 2, 3, 'abes', 12.5]

In [38]:
id(L)

1469444181768

In [39]:
L[0]=10
L

[10, 2, 3, 'abes', 12.5]

In [40]:
id(L)

1469444181768

In [42]:
L2="Sakshi"
id(L2)

1469444220048

In [43]:
L2[0]="s"

TypeError: 'str' object does not support item assignment

In [44]:
L2="s"+L2[1:]
L2

'sakshi'

In [45]:
id(L2)

1469444712800

In [1]:
a=input("Enter your name: ")

Enter your name: Sakshi

In [2]:
type(a)

str

In [3]:
a=input("Enter your age: ")

Enter your age: 21

In [4]:
type(a)

str

In [5]:
a*2

'2121'

In [6]:
a=int(input("Enter your age: "))
print(a*2)

Enter your age: 21
42

In [7]:
a=input("Enter sequence: ")

Enter sequence: 10 20 30 40 50

In [8]:
a

'10 20 30 40 50'

In [10]:
a.split( )

['10', '20', '30', '40', '50']

# Tuples

In [12]:
t1=('abcd',789,2.23,'john',70.2)
print(t1)

('abcd', 789, 2.23, 'john', 70.2)

In [13]:
t1[0]

'abcd'

In [14]:
t1[0]='hi'

TypeError: 'tuple' object does not support item assignment

In [15]:
t1*4

('abcd',
 789,
 2.23,
 'john',
 70.2,
 'abcd',
 789,
 2.23,
 'john',
 70.2,
 'abcd',
 789,
 2.23,
 'john',
 70.2,
 'abcd',
 789,
 2.23,
 'john',
 70.2)

# Dictionary

In [16]:
d1={}
d1['one']="This is Python"
d1[2]="This is Java"
type(d1)

dict

In [17]:
d1

{'one': 'This is Python', 2: 'This is Java'}

In [20]:
d1[2]

'This is Java'

In [22]:
d2={'name':'Sakshi','age':21, 'dept':'CSE'}
d2

{'name': 'Sakshi', 'age': 21, 'dept': 'CSE'}

In [23]:
d2['name']

'Sakshi'

In [24]:
d2.keys()

dict_keys(['name', 'age', 'dept'])

In [25]:
d2.values()

dict_values(['Sakshi', 21, 'CSE'])

# Loops

In [31]:
#while
count =0
while(count < 10):
    print(count)
    count+=1

0
1
2
3
4
5
6
7
8
9

In [33]:
#while with else
count =0
while count < 5:
    print(count,"is less than 5")
    count+=1
else:
    print(count, "is not less than 5")

0 is less than 5
1 is less than 5
2 is less than 5
3 is less than 5
4 is less than 5
5 is not less than 5

In [37]:
#for
a=[1,2,34,56,78]
for i in a:
    print(i)

1
2
34
56
78

In [44]:
a=input("Enter your name:")

Enter your name:Sakshi

In [47]:
count=0
for i in a:
    print(i)
    count+=1
    
print("count =",count)

S
a
k
s
h
i
count = 6

# End of Unit 1